<%#this is going to be the home page for my application %>
<h1>This is going to be the home page for our selleing app</h1>
<%= link_to 'Ready to Sell', products_path %> | 
<%= link_to 'About', about_path %>
