<h1 class="center" style="margin:2rem 0rem 5rem 0;"> Add New Products for selling </h1> 
<%# for adjusting boxes inline css used %>

<%# creating partials for removing repeaing code %>
<%# reference : https://guides.rubyonrails.org/layouts_and_rendering.html %>
<%= render 'form' %>